#botonera{
    background-color: red;
}
#cards{
    background-color: black;
    border-radius: 3em;
    text-decoration: white;
}
#section{
    background-color: black;
}

#footer{
  background-color: red;
}